
 .logo img, .image-logo img {
    width: 280px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 .image-search input[type=text], .search input[type=text] {
    width: 550px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image: url("searchicon.png");
    background-size: 20px 20px;
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
  }

 input[type=submit] {
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    border: none;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
}

#google-search {
    margin: 35px 0px 0px 100px;
}

#feel-lucky {
    margin: 35px 0px 0px 10px;
}

.search {
  display: inline;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Image Search  */
.other-search {
  text-align: right;
  margin-right: 30px;
  margin-top: 10px;

}

a[href="image.html"] {
  margin: 10px 10px;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

a[href="image.html"]:hover {
  text-decoration: underline;
}

.image-search {
  display: inline;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-links{
  text-align: right;
  margin-top: 20px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.header-links a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}

/* End of Image Search */




/* Advanced Search  */
#advanced-logo {
  width: 80px;
  position: absolute;
  top: 35px;
  left: 60px;
}

a[href="advanced.html"] {
  margin: 10px 10px;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

a[href="advanced.html"]:hover {
  text-decoration: underline;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-left: 40px;
  margin-top: 60px;
  color: crimson;
}

.bar {
  margin-top: 30px;
  border: .5px solid rgb(233, 233, 233);
}

.advanced-search {
  background: pink;
  width: 80%;
  margin-left: 40px;
  margin-top: 50px;
}

.advanced-search p:nth-child(1) {
  font-size: 20px;
}

.advanced-search p {
  margin-bottom: 25px;
}

.advanced-search p[type="text"] {
  text-indent: 10em;
}


/* End of advanced Search */